<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.gga.repository.CartMapper">

    <select id="count" parameterType="String" resultType="int">
        select count(*) from gga_cart where id=#{id}
    </select>

    <delete id="deleteOne" parameterType="Map">
        delete from gga_cart
        where id=#{id} and pid=#{pid}
    </delete>

    <select id="searchCart" parameterType="Map" resultType="int">
        select count(*)
        from gga_cart
        where id=#{id} and pid=#{pid}
    </select>

    <delete id="deleteList" parameterType="String">
        delete gga_cart
        where cid in
        <foreach item="cid" collection="array" open="(" separator="," close=")">
            #{cid}
        </foreach>
    </delete>

    <select id="contentList" resultType="com.springboot.gga.dto.CartDto">
        select p.pid, pname, pprice, gfile, gsfile, pcategory, cid, qty
        from gga_cart c, gga_product p
        where c.pid = p.pid
    </select>


    <update id="update" parameterType="Map">
        update gga_cart set qty=#{qty} where id=#{id} and pid=#{pid}
    </update>

    <select id="list" parameterType="String" resultType="com.springboot.gga.dto.CartDto">
        select p.pid, cid, pname, pprice, qty, gsfile
        from gga_cart c, gga_product p
        where c.pid = p.pid and id=#{id}
    </select>

    <insert id="insert" parameterType="Map">
        insert into gga_cart(cid, pid, id, qty)
        values ('C_' || to_char(sequ_gga_cart.nextval, 'fm0000'), #{pid}, #{id}, 1)
    </insert>


</mapper>

