<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.gga.repository.CouponMapper">

    <update id="updateListAdd" parameterType="String">
        UPDATE gga_coupon
        SET used = 1
        WHERE couponid IN
        <foreach item="couponid" collection="array" open="(" separator="," close=")">
            <if test="couponid != null and couponid != ''">
                #{couponid}
            </if>
        </foreach>
    </update>


    <update id="updateAdd" parameterType="Map">
        UPDATE gga_coupon
        SET used = '1'
        WHERE id = #{id} and couponid=#{couponid}
    </update>

    <update id="updateCancel" parameterType="Map">
        UPDATE gga_coupon
        SET used = '0'
        WHERE id = #{id} and couponid=#{couponid}
    </update>

    <select id="list" parameterType="Map" resultType="com.springboot.gga.dto.CouponDto">
        select couponid, couponname, startdate, enddate, discount, id, used
        from gga_coupon
        where id=#{id} and used=#{used} and ccategory=#{ccategory}
    </select>


    <insert id="insertInit1" parameterType="String">
        insert into gga_coupon(couponid, couponname, startdate, enddate, discount, id, ccategory)
        values ('coupon_' || LTRIM(to_char(sequ_gga_coupon.nextval,'0000')),'[신규회원] 1000원 쿠폰',
                sysdate,sysdate + INTERVAL '1' YEAR, 1000, #{id}, 'product')
    </insert>
    <insert id="insertInit2" parameterType="String">
        insert into gga_coupon(couponid, couponname, startdate, enddate, discount, id, ccategory)
        values ('coupon_' || LTRIM(to_char(sequ_gga_coupon.nextval,'0000')),'[신규회원] 2000원 쿠폰',
                sysdate,sysdate + INTERVAL '1' YEAR, 2000, #{id}, 'product')
    </insert>
    <insert id="insertInit3" parameterType="String">
        insert into gga_coupon(couponid, couponname, startdate, enddate, discount, id, ccategory)
        values ('coupon_' || LTRIM(to_char(sequ_gga_coupon.nextval,'0000')),'[신규회원] 3000원 쿠폰',
                sysdate,sysdate + INTERVAL '1' YEAR, 3000, #{id}, 'product')
    </insert>

</mapper>

