<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.gga.repository.JoinMapper">

	<insert id="join" parameterType="com.springboot.gga.dto.MemberDto">
		INSERT INTO GGA_MEMBER(ID, PASS, NAME, BIRTH, GENDER, TEL, PHONE, EMAIL, CARNUM, GENRE, MDATE)
		VALUES(#{id, jdbcType=VARCHAR}, #{pass}, #{name, jdbcType=VARCHAR}, #{birth}, #{gender}, #{tel}, #{phone}, #{email, jdbcType=VARCHAR}, #{carnum}, #{genreList}, SYSDATE)
	</insert>

</mapper>