<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.gga.repository.PageMapper">

    <select id="totalPaging" parameterType="com.springboot.gga.dto.PageDto" resultType="int">
        select count(*)
        from
        <if test='serviceName == "notice"'>
            gga_notice
        </if>
        <if test='serviceName == "admin_notice"'>
            gga_notice
        </if>
        <if test='serviceName == "notice_search"'>
            gga_notice
        </if>
        <if test='serviceName == "member"'>
            gga_member
        </if>
        <if test='serviceName == "board"'>
            ggaBoard
        </if>
        <if test='serviceName == "boardSearch"'>
            ggaBoard
        </if>
        <if test='serviceName == "boardComment"'>
            ggaBoardComment
        </if>
        <if test='serviceName == "myReview"'>
            ggaBoard
        </if>
        <if test='serviceName == "product"'>
            gga_product
        </if>
        <if test='serviceName == "movie"'>
            gga_movie
        </if>
        <if test='serviceName == "boardMaster"'>
            ggaBoard where mid =#{bid}
        </if>

    </select>

</mapper>